<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167856909-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167856909-2');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="A perfect reference timeline for your journey in VIT.">
    <meta name="keywords" content="VIT, VIT Vellore , vit college , kshitij , vinnovateit , wimpywarlord">
    <meta name="author" content="VinnovateIT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%=title_logo%>" type="image/x-icon">
    <meta property="og:title" content="Ventor" />
    <meta property="og:description" content="A perfect reference timeline for your journey in VIT." />
    <meta property="og:image" content="<%=title_logo%>" />
    <title>Ventor</title>
    <style>
        .center_col {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }

        .center_row {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
        }

        body {
            background-color: #17202A;
        }

        .main_box {
            height: 95vh;
        }

        .image_not_found {
            height: 30vh;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            width: 30vh;
            border-radius: 50%;
        }

        .main_heading {
            font-size: 6rem;
            color: white;
        }
    </style>

</head>

<body>
    <div class="main_box center_col">
        <img class="image_not_found" src="<%= notFound %>" alt="">
    </div>

</body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5ee258969e5f69442290617f/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

</html>